<div class="container-fluid">
  <h2 class="text-center">Task list</h2>
  <app-statistic
    [taskAll]="getTaskListsSize()"
    [tasksPlanned]="getTasksAmountByStatus('Не выполнено')"
    [tasksOverdue]="getTasksAmountByStatus('Просрочено')"
    [tasksFinished]="getTasksAmountByStatus('Выполнено')"
  ></app-statistic>
  <label for="box"> Hide finished tasks </label>
  <input type="checkbox" id="box" (change)="filterTasks($event)">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>Name of category</th>
      <th>Category</th>
      <th>Date of beginning</th>
      <th>Date of finish</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody id="table">
    <ng-container *ngFor="let task of tasks">
      <tr *ngIf="hideBychecker(task.status)" app-list-row [id]="task.name"
          [name]="task.name"
          [category]="task.category"
          [dateStart]="task.dateStart"
          [dateEnd]="task.dateEnd"
          [status]="task.status"
          (deleteTaskEmitter)="deleteTaskFromArray($event)"
          (click)="passTask(task)"></tr>
    </ng-container>

    </tbody>
  </table>

  <app-task-add *ngIf="!visible"
                (addTaskEmitter)="addRow($event)"
  ></app-task-add>

  <app-edit-task *ngIf="visible"
                 [task]="editTask"
                 (editTaskEmmiter)="changeTask($event)">
  </app-edit-task>
</div>

